@font-face {
    src: url("../fnt/ibmdos.ttf");
    font-family: round;

}

 @font-face {
     src: url("../fnt/xx1.ttf");
     font-family: xx1;
 }

html{
    color: black;
   position: relative;
    min-height: 100%;

}


.fade-in {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;

}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}



body.contact{
    background:url("../imgs/logo.gif") top right no-repeat;
    background-attachment: fixed;
    background-size: cover;

    position: absolute;
    margin: 0;
    overflow: hidden;
    top: 0;
    bottom: 0;
    width: 100%;


}

body{
    background: url("../imgs/aaa.gif") no-repeat fixed top right;
    background-size: cover;

    position: absolute;
    margin: 0;
    overflow: hidden;
    top: 0;
    bottom: 0;
    width: 100%;
}

p{
    color: black;
}
li:hover  a:hover p:hover{
    font-size: 120%;
    color: mediumslateblue;
}

footer{
    padding-right: 20px;
    margin-right: 20px;
    top: 93%;
    position: fixed;

    width: 100%;

}


